.all-image-container{
    display: flex;
    flex-direction: row;    
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin:2px;
    padding: 0px;
    border: 2px solid black;

}
.image-container{
    height: 250px;    
    width: 320px;
    margin: 5px;    
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1000px){
    .image-container{
        width: 370px;
    }
}
.check-image{   
    font-family: "Roboto";
    color: black;
    font-weight: bold;        
}
.about-image{
    width: 100%;
}